<h4>Tipo: <small>Reactivo</small></h4>
<hr>
<form autocomplete="off">
    <div class="mb-3">
        <label for="name-frm" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="name-frm" name="name">
    </div>
    <div class="mb-3">
        <label for="lastName-frm" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="lastName-frm" name="lastName">
    </div>
    <div class="mb-3">
        <label for="email-frm" class="form-label">Correo</label>
        <input type="email" class="form-control" id="email-frm" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca venderemos tu información</div>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-primary btn-block">Guardar</button>
    </div>
</form>