<h4>Tipo: <small>Reactivo</small></h4>
<hr>
<form [formGroup]="form" (ngSubmit)="guardar()" (keydown.enter)="notSubmit()" autocomplete="off">
    <div class="mb-3">
        <label for="name-frm" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="name-frm" formControlName="name" aria-describedby="nameFeedback" [class.is-invalid]="formValidation('name')">
        <div id="nameFeedback" class="invalid-feedback">
            Este campo es requerido y debe contar con mínimo 3 caracteres
        </div>
    </div>
    <div class="mb-3">
        <label for="lastName-frm" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="lastName-frm" formControlName="lastName" aria-describedby="lastNameFeedback" [class.is-invalid]="formValidation('lastName')">
        <div id="lastNameFeedback" class="invalid-feedback">
            Este campo es requerido y debe contar con mínimo 3 caracteres
        </div>
    </div>
    <div class="mb-3">
        <label for="email-frm" class="form-label">Correo</label>
        <input type="email" class="form-control" formControlName="email" id="email-frm" aria-describedby="emailFeedback" [class.is-invalid]="formValidation('email')">
        <div id="emailHelp" class="form-text">Nunca venderemos tu información</div>
        <div id="emailFeedback" class="invalid-feedback">
            La estructura del correo electrónico es incorrecta
        </div>
    </div>
    <div class="mb-3">
        <label for="pais-nacimiento-frm" class="form-label">País de nacimiento</label>
        <select class="form-select" id="pais-nacimiento-frm" formControlName="countryOfBirth" aria-describedby="countryOfBirthFeedback" [class.is-invalid]="formValidation('countryOfBirth')">
            <option *ngFor="let pais of paises" [value]="pais.code">{{ pais.name }}</option>
        </select>
        <div id="countryOfBirthFeedback" class="invalid-feedback">
            Por favor indiquenos el país donde usted nació
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Género</label>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="masculino-frm" value='M' formControlName="sex" [class.is-invalid]="formValidation('sex')">
            <label class=" form-check-label " for="masculino-frm">Masculino</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="femenino-frm" value='F' formControlName="sex" [class.is-invalid]="formValidation('sex')">
            <label class=" form-check-label " for="femenino-frm">Femenino</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="otro-sexo-frm" value='O' formControlName="sex" [class.is-invalid]="formValidation('sex')">
            <label class=" form-check-label " for="otro-sexo-frm">Otro</label>
            <div class="invalid-feedback">Por favor seleccione el genero al cual usted pertenece</div>
        </div>
    </div>
    <div class="row g-2 mb-3" formGroupName="direction">
        <div class="col-md-8">
            <label for="address-frm" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="address-frm" formControlName="address" aria-describedby="addressFeedback" [class.is-invalid]="formValidation('direction.address')">
            <div id="addressFeedback" class="invalid-feedback">
                Este campo es requerido y debe contar con mínimo 3 caracteres
            </div>
        </div>
        <div class="col-md-4">
            <label for="city-frm" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="city-frm" formControlName="city" aria-describedby="cityFeedback" [class.is-invalid]="formValidation('direction.city')">
            <div id="cityFeedback" class="invalid-feedback">
                Este campo es requerido y debe contar con mínimo 3 caracteres
            </div>
        </div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col-md-4">
            <label for="username-frm" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="username-frm" formControlName="username" aria-describedby="usernameFeedback" [class.is-invalid]="formValidation('username')">
            <div *ngIf="form.get('username').errors?.required" id="usernameFeedback" class="invalid-feedback">
                Este campo es requerido
            </div>
            <div *ngIf="form.get('username').errors?.minlength" id="usernameFeedback" class="invalid-feedback">
                Este campo debe contar con mínimo {{ form.get('username').errors?.minlength.requiredLength }} caracteres
            </div>
            <div *ngIf="form.get('username').errors?.userExist" id="usernameFeedback" class="invalid-feedback">
                Este usuario ya esta asignado a otro, por favor seleccione otro
            </div>
        </div>
        <div class="col-md-4">
            <label for="password-frm" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password-frm" formControlName="password" aria-describedby="passwordFeedback" [class.is-invalid]="formValidation('password')">
            <div *ngIf="form.get('password').errors?.required" id="passwordFeedback" class="invalid-feedback">
                Este campo es requerido
            </div>
            <div *ngIf="form.get('password').errors?.minlength" id="passwordFeedback" class="invalid-feedback">
                Este campo debe contar con mínimo {{ form.get('password').errors?.minlength.requiredLength }} caracteres
            </div>
        </div>
        <div class="col-md-4">
            <label for="password-confirm-frm" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="password-confirm-frm" formControlName="passwordConfirm" aria-describedby="passwordConfirmFeedback" [class.is-invalid]="formValidation('passwordConfirm')">
            <div *ngIf="form.get('passwordConfirm').errors?.required" id="passwordConfirmFeedback" class="invalid-feedback">
                Este campo es requerido
            </div>
            <div *ngIf="form.get('passwordConfirm').errors?.confirmPasswordInvalid" id="passwordConfirmFeedback" class="invalid-feedback">
                Las contraseñas proporcionadas no coinciden
            </div>
        </div>
    </div>

    <hr>
    <div class="row mb-3 g-3">
        <div class="col-auto">
            <label for="hobby-frm" class="visually-hidden">Pasatiempo</label>
            <input type="text" (keyup.enter)="agregarHobby()" class="form-control" id="hobby-frm" formControlName="hobby" placeholder="Pasatiempo">
        </div>
        <div class="col-auto">
            <button type="button" (click)="agregarHobby()" class="btn btn-outline-primary">Agregar</button>
        </div>
    </div>
    <div id="pasatiempos-container" class="mb-3 p-2 border rounded" formArrayName="hobbies">
        <!-- <button type="button" class="badge bg-dark m-1" *ngFor="let hobby of hobbies.controls; let i = index">
            {{hobby.value}} <input type="button" [formControlName]="i" (click)="borrarHobby(i)" class="badge bg-secondary" value="X" />
        </button> -->
        <!-- <span *ngFor="let hobby of hobbies.controls; let i = index" class="badge bg-dark m-1">
            {{hobby.value}}
            <button type="button" [formControlName]="i" (click)="borrarHobby(i)" class="badge bg-secondary" style="cursor: pointer;">X</button>
        </span> -->
        <input type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" appDeleteButton class="btn btn-sm btn-outline-primary m-1" [formControlName]="i" (click)="borrarHobby(i)" *ngFor="let hobby of hobbies.controls; let i = index">
        <!-- <div class="input-group mb-3" *ngFor="let hobby of hobbies.controls; let i = index">
            <input type="text" class="form-control" [value]="hobby.value">
            <input type="button" class="btn btn-outline-secondary" [formControlName]="i" (click)="borrarHobby(i)" value="Del">
        </div> -->
    </div>
    <div class="d-grid gap-2 ">
        <button type="submit" class="btn btn-outline-primary btn-block ">Guardar</button>
        <button type="button" (click)="fillForm()" class="btn btn-outline-secondary btn-block ">Cargar Datos</button>
    </div>
</form>

<hr>
<pre>
Formulario válido: {{ !form.invalid }}
Estado del formulario: {{ form.status }}
</pre>
<pre>
{{ form.value | json }}
</pre>